[tools]
pandoc = "3.8.3"

[tasks]
clean = """
  rm -rf dist/*
"""

build-pdf = """
  pandoc src/index.md \
    --defaults=config/pandoc/base.yaml \
    --defaults=src/styles/gost/variables.yaml \
    --defaults=src/styles/gost/typography.yaml \
    --defaults=src/styles/gost/geometry.yaml \
    --defaults=config/pandoc/pdf.yaml \
    --metadata-file=src/content/metadata.yaml \
    -o dist/document.pdf
"""
